*{
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(7, 244, 43);
    font-style: italic;
    text-decoration: underline;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: auto;
    text-align: center;
}
#heading-parent{
    background-color: rgb(240, 82, 10);
    background-image: linear-gradient(45deg, #730654, transparent),
     url("hero.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 100px 0;
    width: 600px;
    /* margin-top: 40px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto; */
    margin: 30px auto;

}
.btn-parent{
    text-align: center;
}
.btn{
    background-color: tomato;
    padding: 8px 15px;
    color: #fff;
    border-color: yellow;
    border-width: 4px;
    border-radius: 6px;
    text-align: center;
    }
    
